fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
psycopg[binary]
python-dotenv
python-multipart
passlib[bcrypt]
python-jose[cryptography]
pydantic
pydantic-settings
pillow
opencv-python
pytesseract
faster-whisper
reportlab
qrcode[pil]
